// global

.letter-spacing-none {
  letter-spacing: 0;  
}



// drawer nav
.q-drawer {
  .q-item {
    opacity: 0.6;
    &.q-router-link--exact-active {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.q-list {
  .q-item {
    &.q-item:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

// number input
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin-left: 10px;
}

// entries 

.entries {
  .q-slide-item {
    border: 1px solid rgba(0,0,0, 0.12);
    &:not(:first-child) {
      margin-top: -1px
    }
  }
  .sortable-ghost {
    opacity: 0;
  }
}